    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Payment Transfer</title>
        <!-- Add your CSS styling here -->
    </head>

    <body>
        <div class="navbar">
            <!-- Your navigation bar links and profile info -->
        </div>

        <div class="container">
            <div th:if="${errorOccurred}" class="alert alert-error">
                Transfer failed: Source and target accounts cannot be the same.
            </div>
            <div th:if = "${param.success}"><div class="alert">Transfer Successful.</div></div>
            <h2>Payment Transfer</h2>
            <form th:action="@{/payment-transfer}" method="post">
                <label for="sourceAccount">Source Account:</label>
                <select id="sourceAccount" name="sourceAccountId">
                    <option th:each="account : ${sourceAccounts}" th:value="${account.accountId}"
                        th:text="${account.accountNumber}"></option>
                </select>

                <label for="targetAccount">Target Account:</label>
                <select id="targetAccount" name="targetAccountId">
                    <option th:each="account : ${targetAccounts}" th:value="${account.accountId}"
                        th:text="${account.accountNumber}"></option>
                </select>

                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" required />

                <button type="submit">Transfer</button>
            </form>
        </div>
        <button><a th:href="@{/welcome}">Back</a></button>
    </body>

    </html>
