<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Transaction History</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }

        .navbar {
            background-color: #333;
            color: white;
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            padding: 14px 16px;
            text-decoration: none;
            color: white;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        .container {
            margin: 20px;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        h2 {
            color: #007bff;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .pagination {
            display: flex;
            list-style-type: none;
            padding: 0;
        }

        .pagination li {
            margin: 0;
            padding: 0;
        }

        .pagination li a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            border: 1px solid #ccc;
            margin-right: 5px;
            /* Add some spacing between items */
        }

        .pagination li.active a {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <!-- Your navigation bar links and profile info -->
    </div>

    <div class="container">
        <h2>Transaction History</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.timestamp}"></td>
                    <td th:text="${transaction.type}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
            </tbody>
        </table>

        <nav th:if="${totalPages > 1}">
            <ul class="pagination">
                <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                    th:class="${pageNumber == currentPage ? 'active' : ''}">
                    <a th:href="@{/transaction-history(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                </li>
            </ul>
        </nav>
        <button><a th:href="@{/welcome}">Back</a></button>
    </div>
</body>

</html>