<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online Banking System</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            /* background-image: url('background.jpg'); */
            background-image: url('/images/background.jpg');

            background-size: cover;

        }

        h2 {
            color: red;
        }

        .navbar {
            background-color: #333;
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
        .profile {
            float: left;
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
        .profile-picture {
            width: 40px;
            height: 40px;
            background-color: #007bff;
            color: #fff;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 50%;

        }
    </style>
</head>

<body>
    <div class="navbar">

        <a th:href="@{/welcome}">Home</a>
        <a th:href="@{/createaccount}">Create Account</a>
        <a th:href="@{/AccountDetails1}">View Accounts</a>
        <a th:href="@{/payment-transfer}">Payment Transfer</a>
        <a th:href="@{/transaction-history}">Transactions</a>
        <!-- <a th:href="@{/transactions}">Transactions</a> -->

        <div class="profile" style="float: right;">
            <div class="profile-picture"> <span th:text="${username.substring(0,2).toUpperCase()}"></span></div>
        </div>

        <a th:href="@{/login}" style="float: right;">Logout</a>


    </div>

    <div class="container">
        <h2>Welcome to Online Banking System , <span th:text="${username}"></span></h2>
        <!-- Add more content and components here -->
        <!-- <h2>Welcome, <span th:text="${username}"></span></h2> -->
        <!-- Other welcome page content -->

    </div>

    <script>
       
    </script>
</body>

</html>